/* GERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

.clear{ clear: both; }

div.container{
    min-width: 1280px;
    margin: 0 auto;
    max-width: 100%;
}

/* CABEÇALHO */

header{
    display: flex;
    width: 100%;
    background-color: rgba(156, 144, 144, 0.708);
}

.logotipo{
    text-align: center;
    display: inline-block;
}

.logotipo img{
    margin: 10px;
}

/* NAVEGAÇÃOO */

nav{
    float: right;
}

nav ul{
    margin-top: 50px;
    margin-left: 30px;
    width: 100%;
}

nav ul li{
    text-transform: uppercase;
    display: inline-block;
    margin: 0 30px;
    font-size: 1.6rem;
}

/* SESSÃO 01 - Apresentação e endereços */

.home{
    background-image: url("/imagens/wallpaper_01.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    min-height: 42rem;
    text-align: center;
    width: 100%;
}

.home .texto_inicial{
    width: 500px;
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
}

.home .title{
    width: 250px;
    text-align: center;
    margin: 0 auto 190px auto;
    position: relative;
    top: 100px;
    font-size: 45px;
    background-color:rgba(255, 255, 255, 0.346)
}

.home .body{
    background-color:rgba(255, 255, 255, 0.42);
    margin-bottom: 80px;
}

/* ENDEREÇOS */

.maps{
    background-color: blue;
    padding: 90px;
}

.maps h1{
    font-size: 50px;
    margin-bottom: 100px;
    text-align: center;
}

.local{
    width: 100%;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.local .model{
    padding: 10px;
    margin: 40px 100px;
    display: inline-block;
}

.model:hover{
    background-color: aqua;
    transition: 1s;
}

.cep{
    width: 100%;
    background-color: rgba(240, 248, 255, 0.338);
    margin: 5px auto;
    font-weight: bold;
}

/* GALERIA */

.galery{
    width: 100%;
    padding-top: 1%;
    background-color: darkgray;
    text-align: center;
}

.galeria{
    font-size: 50px;
    padding: 50px;
}

div.img{
    border: 1px solid black;
    display: inline-block;
    width: 250px;
    padding-top: 250px;
    background-color: white;
    position: relative;
    margin: 10px;
}

div.background{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 250px;
}

/* CONTATO */

section.contato{
    background-color: #be9469c7;
    padding: 25px 0 80px 0;
}

.formulario{
    float: left;
}

.contato > h1{
    padding: 3rem 5rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
}

form{
    border: 3px solid black;
    border-radius: 10px;
    background-color: #f8f2ecc7;
    max-width: 400px;
    margin-left: 6rem;
    padding: 20px;
}

input, textarea{
    border-radius: 20px;
    width: 100%;
    font-size: 19px;
    margin-bottom: 10px;
    padding:10px;
    padding-left: 13px;
    border: 0px solid white;
    border-bottom: 1px solid black;
}

#name{
    width: 45%;
}

#cell{
    width: 45%;
    float: right;
}

button{
    width: 100%;
    border: 2px solid aquamarine;
    border-radius: 10px;
    height: 35px;
    background-color: antiquewhite;
}

div.contato_img{
    background-image: url("/imagens/contato.jpeg");
    background-repeat: no-repeat;
    float: right;
    width: 40%;
    height: 315px;
    margin-top: 70px;
    margin-right: 2%;
}

footer{
    text-align: center;
    padding: 20px 2%;
    color: white;
    background-color: black;
}

footer p:first-child{
    padding-bottom: 20px;
}

footer p a:last-of-type{
padding-left: 20px;
}